<section>
  <article>
    <!-- Marking the text for translation using i18n attribute 
      Card header--instruction to the angular to retai the css styling in translated pages also..
    -->
    <h1 i18n="Card header | Title for the under construction card">Under Costruction</h1>
    <p i18n="Card header | A description for the under construction card">This page is under construction</p>
  </article>
</section>
<!-- i18n built-in package in angular 
i18n:extract install this package
src/locale- consists of translation files different languages
-->